/* PRESETS */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }
/* MAIN */
  html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
    color: rgb(211, 202, 195);
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
  }

/* NAVIGATION BAR */
nav {
    background-color: black;
    position: fixed;
    top: 0rem;
    right: 0;   
    width: 100%;
    z-index: 3;  
    border-bottom: 1px solid seashell;
     
}
.logo {
    height: 5rem;
    margin: 2rem;
    position: fixed;
    top: 0;
    z-index: 8;
}
ul {
    margin: 1.5rem;
    border-radius: 15px; 
}
li {
    /* display: inline-block; */
    padding: 2.5rem;
    font-size: 2.2rem;
    cursor: pointer;
    text-decoration: underline;
    float: right;
    list-style: none;
}
 li:hover {
     color:rgb(247, 203, 172);
     text-decoration: none;
 }

/* HERO AND HEADERS SECTION */
.hero-img__box {
    height: 70rem;
    background-image: url("imgs/mission-background.jpg");
    background-size: cover;
    margin: 6.9rem 2.5rem 1rem 2.5rem;
    padding: 1rem;
    /* position: relative; */

}
.locations-section__box {
    background-size: cover;
    background-image: url("imgs/locations-background.jpg"); 
    height: 70rem;
    margin: 3rem 2.5rem 20rem 2.5rem;
    padding: 1rem;
}
 .heading-one__box,  .heading-two__box {
    background-color: black;
     width: 100%;
     text-align: center;
 }
 .heading-one__box {
     position: absolute;
     top: 34rem;
     right: 0;  
 }

.heading-text__primary {
    text-transform: uppercase;
    font-size: 3.2rem;
    letter-spacing: .6rem;
    padding: 1rem; }
    .heading-primary_animation {
    animation-name: moveInLeft;
    animation-duration: 3s;
    animation-timing-function: ease-in-out; 
}
.heading-text__primary:hover {
    transform: skewX(2.5deg) skewX(20deg) scale(1.1);
    text-shadow: .5rem 1rem 2rem rgb(121, 120, 120);
}
.heading-text__secondary {
     font-size: 2.2rem;
     text-transform: capitalize;
     letter-spacing: .3rem;
     padding-bottom: 1rem; }
     .heading-secondary-animation {
    animation-name: moveInBottom;
    animation-duration: 3s;
    animation-timing-function: ease-in-out;
}
.steeping:hover {
    transform:  scale(1.2);
    text-shadow: .5rem 1rem 2rem rgb(121, 120, 120);
}
/* FEATURES SECTIONS */

.features-imgs {
    height: 20rem;
    width: 30rem;
    /* margin-left: 2rem; */
    border-radius: 15px;

}
.features-imgs:hover {
    transform: translateY(-1.5rem) scale(1.2);
    /* box-shadow: .2rem.2rem .5rem .2rem rgb(121, 120, 120); */
     outline: .5rem solid rgb(121, 120, 120) ;
    transform: scale(1.05);
    outline-offset: 2rem;
}
.img-caption {
    font-size: 2rem;
    text-align: center;
    text-transform: capitalize;
    max-width: 30rem;
}

 /* ANIMATIONS */
 @keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    80% {
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        translate: (0); /* 0 is the initial state */
    }

}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    80% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        translate: (0);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }
    100% {
        opacity: 1;
        translate: (0);
    }

}

/* GRID */
.row {
  max-width: 114rem;
  margin: 0 auto;}
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.row-1 {
    margin-top: 3.5rem;
}
.row-2 {
    width: 50%;
    margin-bottom: 3.5rem;
}

