*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

  html {
    box-sizing: border-box;
    font-size: 62.5%;
    background-color: black;
    color: rgb(211, 202, 195);
    opacity: 0.9;
    font-family: Helvetica, sans-serif;
  }
nav {
    background-color: black;
    position: fixed;
    top: 0rem;
    right: 0;   
    width: 100%;
    z-index: 3;  
    border-bottom: 1px solid seashell;
     
}
.logo {
    height: 5rem;
    margin: 2rem;
    position: fixed;
    top: 0;
    z-index: 8;
}
ul {
    margin: 1.5rem;
    border-radius: 15px; 
}
li {
    /* display: inline-block; */
    padding: 2.5rem;
    font-size: 2.2rem;
    cursor: pointer;
    text-decoration: underline;
    float: right;
    list-style: none;
}
 li:hover {
     color:rgb(247, 203, 172);
     text-decoration: none;
 }

.hero-img__box {
    height: 70rem;
    background-image: url("imgs/mission-background.jpg");
    background-size: cover;
    margin: 6.9rem 2.5rem 1rem 2.5rem;
    padding: 1rem;

    /* position: relative; */

}
 .heading-text__box {
     background-color: black;
     width: 120rem;
     position: relative;
     top: 34rem;
     text-align: center;
 }